# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Build outputs (root and nested)
/build/
**/build/

# Android
android/app/.cxx/
android/.gradle/
android/gradle/
android/local.properties
android/key.properties
/android/app/debug
/android/app/profile
/android/app/release

# APK / AAB / binary outputs
**/*.apk
**/*.aab
**/*.ap_
**/*.jar

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
*.ipa

# Firebase
google-services.json
GoogleService-Info.plist
lib/firebase_options.dart

# Environment / secrets
.env
**/.env
*.env.*

# macOS
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/

# Windows
*.exe
*.pdb

# Coverage
coverage/